.appointment_form_container {
  position: relative;
  padding: 44px 24px 24px 24px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 537px) {
    padding: 64px;
    gap: 30px;
  }

  @media screen and (min-width: 1440px) {
    gap: 40px;
  }
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3 ease;

  @media screen and (min-width: 375px) {
    top: 20px;
    right: 20px;
  }
}

.close_btn_icon {
  stroke: #11101c;
}

.close_btn:hover,
.close_btn:focus {
  opacity: 0.7;
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #11101c;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}

.nanny_container {
  display: flex;
  gap: 14px;
}

.img {
  border-radius: 15px;
}

.nanny_name_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
  margin-bottom: 4px;
}

.nanny_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #11101c;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 537px) {
    gap: 30px;
  }

  @media screen and (min-width: 1440px) {
    gap: 40px;
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.textarea {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 116px;
  width: 100%;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #11101c;
}

.input_container {
  position: relative;
}

.error {
  position: absolute;
  color: red;
  font-size: 12px;
  bottom: -16px;
  left: 8px;
}

/* ---- time ----*/

.time_container {
  position: relative;
}

.time_input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.time_input_active {
  border-color: var(--primary-color);
  box-shadow: 0 4px 12px rgba(16, 57, 49, 0.3);
}

.time_value {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #11101c;
}

.clock {
  fill: none;
  stroke: #11101c;
}

.time_menu {
  position: absolute;
  right: 0;
  border-radius: 12px;
  width: 150px;
  height: 179px;
  z-index: 15;
  background: #fff;
  padding: 16px;
  margin-top: 8px;
}

.time_menu_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #11101c;
  margin-bottom: 16px;
}

.time_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 180px;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.time_list::-webkit-scrollbar {
  width: 6px;
}

.time_list::-webkit-scrollbar-thumb {
  background-color: rgba(25, 26, 21, 0.2);
  border-radius: 4px;
}

.time_option {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  font-weight: 500;
  width: 86px;
  height: 24px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgba(17, 16, 28, 0.3);
  cursor: pointer;
  opacity: 1;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.time_option:hover,
.time_option:focus {
  color: #11101c;
  opacity: 0.7;
}

.time_option_selected {
  color: #11101c;
}
